<html>
	<head>
		<title> The Topher Tracker </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<style>
body, html {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

.bg {
	background-image: url("../static/world_map.jpg");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlays{
	position:absolute;
}

.myImage {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}
		</style>

		<script>



			function showImage() {

							var image = new Image;
							image.src = "static/world_map.jpg";

							l = image.offsetLeft;
							t = image.offsetTop;
							w = image.width;
							h = image.height;

							offY = (latitude | tojson) * h
							offX = (longitude | tojson) * w

							l += offX;
							t += offY;

							var newImage = document.createElement("img");
							newImage.setAttribute('src', '../static/tophers_head.png');
											newImage.setAttribute('class', 'overlays');
											newImage.style.left = l + "px";
											newImage.style.top = t + "px";
											newImage.width = 50
											newImage.height = 50
											document.body.appendChild(newImage);
										}



		</script>

	</head>

	<body>

		First time? Resize your browser window until Topher is in the United States (or as close as possible)
	
		<center>
		<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl p-6">
			<span class="block">
				Topher
				<span class="text-transparent bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600">
					Time
				</span>
				&trade;
			</span>
		</h1>
		</center>

		<center>
		<div class="max-w-sm rounded overflow-hidden shadow-lg">
			<br>
		  <h2 class="font-semibold">
			Day: {{day}} <br>
			Topher's Location: {{city}}
		  </h2>
		  <br>
		</div>
		</center>
		<br>
	
		<div class="bg"></div>
	
		<br>
		<center>
		  <button class= "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="showImage()">Show Topher</button>
		  <br> <br> 
		  <div class="max-w-sm rounded overflow-hidden shadow-lg">
			<br>
		  Image from Topher's Telephotographs&trade; (Original Image by @{{ image_author }})
		  <br>
		  <div class="myImage">
			<img src="{{ image_link }}" >
		  </div>
		</div>
		</center>
		<br>
	
		Relevant Holidays: <br>
		{% for x in holidays %}
		  Holiday {{ loop.index }}: {{ x }}
		  <br>
		{% endfor %}
		<br><br>
		<h2> Change Day? </h2>
	
		<form action="/calendar" method="GET">
		  <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" name="form_type" value="Calendar (Change Date)">
		</form>
	  </body>
	
	</html>
	
