<html>
	<head>
		<title> The Topher Tracker </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<style>
body, html {
	max-width: 100%;
	height: auto;
	width: auto\9; 
}

.bg {
	background-image: url("static/world_map.jpg");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlays{
	position:absolute;
}

		</style>

		<script>



			function showImage() {

							var image = new Image;
							image.src = "static/world_map.jpg";

							l = image.offsetLeft;
							t = image.offsetTop;
							w = image.width;
							h = image.height;

							offY = {{ latitude | tojson }} * h
							offX = {{ longitude | tojson }} * w

							l += offX;
							t += offY;

							var newImage = document.createElement("img");
							newImage.setAttribute('src', '../static/tophers_head.png');
											newImage.setAttribute('class', 'overlays');
											newImage.style.left = l + "px";
											newImage.style.top = t + "px";
											newImage.width = 50
											newImage.height = 50
											document.body.appendChild(newImage);
										}



		</script>

	</head>

	<body>

		First time? Resize your browser window until Topher is in the United States (or as close as possible)

		<center>
			<h2>
				Day: {{day}} <br>
				Topher's Location: {{city}}, {{country}}
			</h2>
		</center>

		<div class="bg"></div>


		<center> <button onclick="showImage()">Show Topher</button> </center>


		<br>

		<h2> Change Day? </h2>
		<form action="/", method='POST'>
			Enter Year (2000-2024): <input type="text" id="year" name="year">
			Enter Month (1-12): <input type="text" id="month" name="month">
			Enter Day: <input type="text" id="day" name="day">
			<input type="submit" value="Submit">
		</form>

		<br>

		<form action = "/calendar", method="GET">
			<input type="submit" name="form_type" value="calendar">
		</form>
	</body>

</html>